@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:ital,wght@1,100&family=News+Cycle&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&display=swap');
* {
        box-sizing: border-box;
        margin: 0;
        padding:0;
        }


html {
        min-height: 100vh;
        width: 100%;
        font-family: 'Poppins' ;
            }
        
body {
    display: grid;
    grid-template-columns: repeat(15, 75px);
    grid-template-rows: repeat(9, 100px);
}

.fondo {
    display: grid;
    grid-column: 1/ 5;
    grid-row: 1 / 10;
}

.fondo img{
    object-fit: cover;
    width: 400px;
    height: 100%;
}

.fondo-mobile{
    display: none;
}

.card-front {
    position: relative;
    display: grid;
    grid-column: 3/ 7;
    grid-row: 2 / 4;
  top: -30px;
  left: -70px;
}

.card-front p {
    color: white;
}

.card-front-num{
    position: relative;
    top: -100px;
    left: 50px;
}

.card-front-name {
    position: relative;
    top: -85px;
    left: 50px;
}

.card-front-fecha-mes {
    position: relative;
    top: -110px;
    left: 353px;
}

.card-front-fecha-anio {
    position: relative;
    top: -135px;
    left: 390px;
}

.card-back {
    position: relative;
    display: grid;
    grid-column: 4/ 8;
    grid-row: 5/ 7; 
    top: -30px;
    left: -50px;
}

.card-back p {
    color: white;
}

.card-cvc {
    position: relative;
    top: -135px;
    left: 350px; 
}




.form-container {
   position: relative;
    grid-column: 11/ 16;
    grid-row: 2/ 6; 
    top: 40px; 
  left: -50px;

}
.field-group input {
    
    box-sizing: border-box;
    height: 45px;
    border-radius: 10px;
    width: 400px;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: solid blueviolet 2px;
}

.field-group-fname{
    position: relative;
    top:-35px;
}





.label-fname{
    position: relative;
    color: rgba(86, 42, 128, 0.961);
    
}

#fname {
    position: relative;
    
}

.label-cnum {
    position: relative;
    color: rgba(86, 42, 128, 0.961);
   
}

#cnum{
    position: relative;
   
}

.label-mm{
    position: relative;
    top: 55px;
    color: rgba(86, 42, 128, 0.961);
    }

#MM {

position: relative;
left: -150px;
top: 90px;
height: 45px;
padding-left: 17px;
    border-radius: 10px;
    width: 70px;
    font-size: 1.2em;
    font-weight: 500;
    border: solid blueviolet 2px;
    background-color: transparent;
    
}  


#YY {
    position:relative;
   box-sizing: border-box;
    height: 45px;
    top: 45px;
    left: 80px;
    border-radius: 10px;
    width: 70px;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 5px;
    border: solid blueviolet 2px;
    background-color: transparent;
}


.label-cvc{
    position:relative;
    left: 180px;
    top: -35px;
    color: rgba(86, 42, 128, 0.961);
}

#cvc {
    position:relative;
   width: 225px;
    left: 135px;
   
}

.button-confirm {
    width: 400px;
     height: 50px;
     position: relative;
     top: 50px;
     font-weight: 500;
     font-size: 1.2em;
     color: white;
     background:linear-gradient(95deg, blueviolet, deeppink);
     border-radius: 10px;
     cursor: pointer;
     font-family: 'Poppins';
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}



.cartel-confirm{
    display: none;
   grid-column: 11/ 16;
    grid-row: 4/ 6;    
}

.tex1-cartel{
    font-size: 1.6em;
    position: relative;
    left: 30%;
    top: 20px;
}

.tex2-cartel{
    position: relative;
    font-size: 1.2em;
    left: 20%;
    top: 20px;
}  


.icon-complete{
    position: relative;
    left: 40%;
    top: 20px;
}


.button-continue {
    width: 100%;
    height: 50px;
    position: relative;
    top: 30px;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    background-color: rgb(57, 24, 95);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


@media screen and  (max-width: 1150px) { 
body {
    display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      
}


.fondo {
    display: none;
    
    }
.fondo-mobile{
   display: flex;
  
 
}
   
.fondo-mobile img{
        object-fit: cover;
        width: 600px;
  height: 350px;
    }


.card-front {
 position: relative;
    top: -130px;
    left: -20px;
    }

.card-back {
    position: relative;
    top: -650px;
    left: 20px;
      
    }
    
    
.form-container {
   display: flex;
   position: relative;
   top: -430px;
   left: 0px;

   
       
   
}


.label-fname{
    position: relative;
    top: -35px; 
    left: 85px;
}

#fname {
    left: -65px;
   
}



.label-cnum {
    position: relative;
    top: -35px; 
    left: 85px;
}


    
#cnum{
    position: relative;
    left: -30px;
}


    


.label-mm{
        top: 54px;
        left: 90px;
        }
    

#MM { 
    position: relative;
    width: 70px;
    top: 90px;
    left:  -65px;
    
    }


#YY {
        position: relative;
    width: 70px;
    left: 165px;
    top: 45px;
} 

.label-cvc{
    position:relative;
    left: 260px;
    top: -35px;
}


#cvc{
position: relative;
width: 220px;
 left: 220px;
}


.button-confirm {
    left: 80px;
}

}
@media screen and  (max-width: 550px){
    #fname {
        width: 360px;
    }
#cnum {
    width: 360px;
}

#cvc{
    width: 180px;

}

.button-confirm {
    width: 360px;
}
}















