@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:ital,wght@1,100&family=News+Cycle&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&display=swap');
* {
        box-sizing: border-box;
        margin: 0;
        padding:0;
        }


html {
        min-height: 100vh;
        width: 100%;
        font-family: 'Poppins' ;
            }
        
body {
    display: grid;
    grid-template-columns: repeat(15, 75px);
    grid-template-rows: repeat(9, 100px);
}

.fondo {
    display: grid;
    grid-column: 1/ 5;
    grid-row: 1 / 10;
}

.fondo img{
    object-fit: cover;
    width: 400px;
    height: 100%;
}

.fondo-mobile{
    display: none;
}

.card-front {
    position: relative;
    display: grid;
    grid-column: 3/ 7;
    grid-row: 2 / 4;
  top: -30px;
  left: -70px;
}

.card-front p {
    color: white;
}

.card-front-num{
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 1.7em;
    width: 400px;
    letter-spacing: 0.1em
}


.card-front-name {
    position: absolute;
    top: 190px;
    left: 30px;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}

.card-front-fecha-mes {
    position: absolute;
    top: 190px;
    left: 355px;
    letter-spacing: 0.1em
}

.barra-fecha{
    position: absolute;
    top: 190px;
    left: 380px;
  
}    

.card-front-fecha-anio {
    position: absolute;
    top: 190px;
    left: 393px;
    letter-spacing: 0.1em
}

.card-back {
    position: relative;
    display: grid;
    grid-column: 4/ 8;
    grid-row: 5/ 7; 
    top: -30px;
    left: -50px;
}

.card-back p {
    color: white;
}

.card-cvc {
    position: absolute;
    font-size: 1.2em;
    top: 105px;
    left: 350px; 
    letter-spacing: 0.1em
}




.form-container {
   position: relative;
    grid-column: 11/ 16;
    grid-row: 2/ 6; 
    top: 40px; 
  left: -50px;

}
.field-group input {
    
    box-sizing: border-box;
    height: 45px;
    border-radius: 10px;
    width: 400px;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: solid blueviolet 2px;
}

.field-group-fname{
    position: relative;
    top:-35px;
}





.label-fname{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    color: rgba(86, 42, 128, 0.961);
    
}

#fname {
    
    position: relative;
    
}

.label-cnum {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    color: rgba(86, 42, 128, 0.961);
   
}

#cnum{
    position: relative;
   
}

.label-mm{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    top: 55px;
    color: rgba(86, 42, 128, 0.961);
    }



#MM {

position: relative;
left: -145px;
top: 90px;
height: 45px;
padding-left: 17px;
    border-radius: 10px;
    width: 70px;
    font-size: 1.2em;
    font-weight: 500;
    border: solid blueviolet 2px;
    background-color: transparent;
    
}  


#YY {
    position:relative;
   box-sizing: border-box;
    height: 45px;
    top: 45px;
    left: 80px;
    border-radius: 10px;
    width: 80px;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 5px;
    border: solid blueviolet 2px;
    background-color: transparent;
}


.label-cvc{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position:relative;
    left: 180px;
    top: -35px;
    color: rgba(86, 42, 128, 0.961);
}

#cvc {
    position:relative;
   width: 225px;
    left: 135px;
   
}

.button-confirm {
    width: 400px;
     height: 50px;
     position: relative;
     top: 50px;
     font-weight: 500;
     font-size: 1.2em;
     color: white;
     background:linear-gradient(95deg, blueviolet, deeppink);
     border-radius: 10px;
     cursor: pointer;
     font-family: 'Poppins';
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}



.cartel-confirm{
    display: none;
   grid-column: 11/ 16;
    grid-row: 4/ 6;    
}

.tex1-cartel{
    font-size: 1.6em;
    position: relative;
    left: 30%;
    top: 20px;
}

.tex2-cartel{
    position: relative;
    font-size: 1.2em;
    left: 20%;
    top: 20px;
}  


.icon-complete{
    position: relative;
    left: 40%;
    top: 20px;
}


.button-continue {
    width: 100%;
    height: 50px;
    position: relative;
    top: 30px;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    background-color: rgb(57, 24, 95);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


@media screen and  (max-width: 1150px) { 
body {
    display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      
}


.fondo {
    display: none;
    
    }
.fondo-mobile{
   display: flex;
  
 
}
   
.fondo-mobile img{
        object-fit: cover;
        width: 600px;
  height: 350px;
    }


.card-front {
 position: relative;
    top: -160px;
    left: -20px;
    }

.card-back {
    position: relative;
    top: -580px;
    left: 20px;
      
    }
    
    
.form-container {
   display: flex;
   position: relative;
   top: -340px;
   left: 0px;

   
       
   
}


.label-fname{
    position: relative;
    top: -35px; 
    left: 85px;
}

#fname {
    left: -65px;
   
}


.label-cnum {
    position: relative;
    top: -35px; 
    left: 85px;
}


    
#cnum{
    position: relative;
    left: -30px;
}




.label-mm{
        top: -4px;
        left: 90px;
        }
    

#MM { 
    position: relative;
    width: 70px;
    top: 30px;
    left:  -65px;
    
    }


#YY {
        position: relative;
    width: 75px;
    left: 165px;
    top: -15px;
} 

.label-cvc{
    position:relative;
    left: 265px;
    top: -95px;
}


#cvc{
position: relative;
width: 220px;
 left: 220px;
 top: -60px;
}


.button-confirm {
    left: 80px;
    top:-40px;
}

}



@media screen and  (max-width: 550px){


.fondo-mobile img{
    height: 180px;
    
}   

.card-front img,
 .card-back img{
    margin-top: 50px;
}

.card-back img{
    position: relative;
    top: 170px;
    width: 250px;
    height: 150;
}

.card-cvc{
  
    font-size: 0.7em;
    top:278px;
    left: 185px;
    
}

.card-front img {
    position: relative;
    top: 20px;
    width: 250px;
    height: 150;
}   

.card-front-num{
    position: absolute;
    top: 140px;
    left: 15px;
    font-size: 0.9em;
}
.card-front-name{
    position: absolute;
    top: 170px;
    left: 15px;
    font-size: 0.7em;
}
.card-front-fecha-mes{
    position: absolute;
    top: 170px;
    left: 187px;
    font-size: 0.7em;
       }

.barra-fecha{
    top:170px;
    left: 205px;
    font-size: 0.7em;
}     
.card-front-fecha-anio{
    position: absolute;
    top: 170px;
    left: 214px;
    font-size: 0.7em;
}


.form-container{
    top: -280px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.label-fname {
   font-size: 0.8em;
    top: 0;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

  }

#fname {
    left: 0;
    width: 250px;
}

.label-cnum {
    font-size: 0.8em;
    top: 0;
    left: -70px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  #cnum{
    width: 250px;
    left: 0;
  }
.label-cnum,
#cnum{
    top:-35px;
}  

  .label-mm {
    font-size: 0.8em;
    top: 10px;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  #MM {
    
    width: 70px;
    top: 10px;
    left: -90px;
  }

  .label-mm,
  #MM{
    top:-30px;
  }

  #YY {
    
    width: 75px;
    left: -10px;
    top: -75px;
  }

 

  .label-cvc {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    left: 60px;
    top: -140px;
  }

  #cvc {
    width: 90px;
    top:-140px;
    left: 80px;
  }


  .button-confirm {
    width: 250px;
    left: 0px;
    top:-130px;
  }

}

